.vscode/**
.vscode-test/**
src/**
frontend/src/**
test/**
.gitignore
tsconfig.json
frontend/tsconfig.json
vite.config.mjs
frontend/vite.config.ts
frontend/vite.config.mjs
**/*.map
*.ts
*.tsx
.env
.env.*
node_modules/**
frontend/node_modules/**
